    /* style.css — Загальні властивості елементів */

html, body {
    font-family: 'Montserrat', sans-serif;  /* Гарнітура для основного тексту */
    font-size: 16px;        /* Розмір шрифта основного тексту */
    line-height: 1.4;       /* Міжрядковий інтервал основного тексту в %/100 */
    letter-spacing: .002em; /* Міжлітерний інтервал основного тексту збільшений на 2/1000 Em */
    scroll-behavior: smooth;/* Плавна прокрутка під час переходу за якорем (ancor) */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;  /* Гарнітура для заголовків */
    font-weight: 400;                       /* Накреслення для заголовків */
    line-height: 1.2;                       /* Міжрядковий інтервал для заголовків в %/100 */
    letter-spacing: 0.005em;                /* Міжлітерний інтервал основного тексту збільшений на 2/1000 Em */
    margin: 0 0 .5em;                       /* Відступ знизу після заголовку */
    text-align: left;                       /* Вирівнювання тексту заголовків */
}

h1 { font-size: 2rem; }     /* Висота заголовків у відносних величинах */
h2 { font-size: 1.5rem; }   /* rem - відносний розмір *(body font-size) */
h3 { font-size: 1.35rem; }

h1, h2, h3 { font-weight: 600; }

p {
    margin-bottom: 1em;   /* Відступ знизу після абзацу */
}

a {
    color: var(--lnk-color-1);  /* Основний колір текстових лінків */
    text-decoration: none;
}

a:hover {
    color: var(--lnk-color-2);  /* Колір текстових лінків (hover) при наведенні курсору */
    text-decoration: none;
}

/* ********************* Додано 19.03.2025 ********************* */

.img-box svg,
.img-box img {
    display: block;                 /* Відображати <img> як блочні */
    max-width: 100%;
    width: 100%;
    max-height: 75dvh;              /* Обмеження висоти зображень у 65% висоти в'юпорта */
    object-fit: contain;            /*  */
    object-position: center center; /* Позиція зображення */
}

.button {
    display: inline-block;
    border-radius: var(--bord-radius);
    padding: 8px 16px;
    background-color: var(--bg-color-1);
    color: var(--lnk-color-1);
}

/* *************************************************************** */